*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    transition: 1s all linear;
}

.banner {
    width: 100vw;
    background: rgb(41, 80, 33);
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    border-radius: 0.3em;
}
.banner:hover {
    box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.55);
}

.shopping-image {
    height: auto;
    width: 100vw;
}
.shopping-image > img {
    height: 350px;
    width: 50vw;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0 2em 2em 0/0 3em 3em 0;
    box-shadow: 3px 5px 1px 3px #4e4c4c;
}

.text {
    height: 350px;
    width: 50vw;
    margin-left: -33.3333333333vw;
    display: flex;
    justify-content: center;
    text-align: right;
    flex-direction: column;
}
.text > * {
    font-size: 18px;
    text-align: center;
}

a {
    color: #fff;
}
