@font-face {
    font-family: "PlayfairDisplay900";
    src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}
@font-face {
    font-family: "PlayfairDisplay800";
    src: url(../assets/fonts/PlayfairDisplay-Medium.ttf);
}
@font-face {
    font-family: "montserrat_med";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "montserrat_reg";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    /* --bg-sirpi: #f5efee; */
    --bg-sirpi: #f3f3f4;
    --bg-brown: #785546;
    --bg-orange: #ee844f;
}
.bg_orange {
    background-color: var(--bg-orange);
}
.t_orange {
    color: var(--bg-orange);
}
.bg_brown {
    background-color: var(--bg-brown);
}
.bg_sirpi {
    background-color: var(--bg-sirpi);
}
.i_h1 {
    font-family: "PlayfairDisplay900";
    font-size: 55px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: 0em;
}
.i_h2 {
    font-family: "PlayfairDisplay800";
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
    letter-spacing: 0em;
}
.i_h3 {
    font-family: "PlayfairDisplay800";
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
}
.nav_i_h3 {
    font-family: "montserrat_reg";
    font-size: 16px;
    color: black;
    font-weight: 100;
    line-height: 20px;
    /* letter-spacing: 0.1em; */
}
.i_p {
    font-family: "montserrat_med";
    font-weight: 100;
    line-height: 22px;
}
.i_p_bold {
    font-family: "montserrat_reg";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    /* text-align: left; */
}

.active {
    border: none;
    border-bottom: 1px solid #f3f3f7;
    transition: width 1s ease-in-out, left 1s ease-in-out;
}

.bg_black {
    background-color: #111111;
}
.car_arr {
    margin-top: -5%;
}
.dropdown-toggle::after {
    margin-left: -3px;
    vertical-align: 0.2em;
}

/*================================================Responsive Styles */
@media screen and (max-width: 768px) {
    .car_arr {
        margin-bottom: 70px;
    }
    .i_h1 {
        font-size: 40px;
        line-height: 80px;
    }

    .i_h2 {
        font-size: 30px;
        line-height: 35px;
    }

    .i_h3 {
        font-size: 18px;
        line-height: 18px;
    }

    .i_p {
        font-size: 12px;
        line-height: 16px;
    }

    .i_p_bold {
        font-size: 12px;
        line-height: 16px;
    }
    .b_card_width {
        width: 14rem;
    }
}

.boxShadow {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}
.h_up {
    transition: transform 0.5s;
}
.h_up:hover {
    transform: translateY(-15px);
}
.fs_64 {
    font-size: 64px;
}

/* Add your custom styles here */
.preheading {
    /* background-color: #f0f0f0; */
    /* text-align: center; */
    padding: 5px;
    font-family: "montserrat_reg";
}

.navbar {
    margin-top: 0;
    /* Remove the default margin */
}

/* <button class="button-30" role="button">Button 30</button> */
/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "montserrat_med";
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}
.nav-link {
    text-transform: uppercase;
}
.w-25 {
    margin-bottom: 1em;
}
.dropdown-item {
    color: #111111;
}
.dropdown-item:hover {
    margin-left: 20px;
    overflow: hidden;
    background-color: transparent;
    color: white;
}
.dropdown-divider {
    background-color: var(--bg-orange);
}
@media (min-width: 992px) {
    .dropdown-menu {
        overflow: hidden;
        width: 250px;
        margin-left: -4%;
        /* width: 100vw; */
        background-color: var(--bg-orange);
        border: 1px solid var(--bg-orange);
        color: #d6d6e7;
        /* border-radius: 0px; */
    }
}

/* #preloader { */
/* background-color: #111111;
    background-image: url(../assets/Final\ Creative\ Shots/loading.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3; */
/* } */
@media (min-width: 1440px) {
    .container-fluid {
        width: 1440px !important;
    }
}

/* new product page design csss */
.product-images {
    display: flex;
    flex-direction: column;
    max-height: 450px;
    /* min-width: 100px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

#main-image {
    max-height: 400px;
    width: 100%;
}

.product-image {
    min-width: 50px;
    /* Adjust the size as needed */
    margin: 5px;
    cursor: pointer;
}

.product-image:hover {
    border: 1px solid black;
    /* Optional: Add a border on hover */
}

.image-card {
    max-width: 250px;
    max-height: 250px;
    margin: 10px;
    overflow: hidden;
    position: relative;
}

.image-card img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image-card:hover img {
    transform: scale(1.1);
}

.image-card:hover .hover-image {
    display: block;
}

.hover-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
