@font-face {
    font-family: "PlayfairDisplay900";
    src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}
@font-face {
    font-family: "PlayfairDisplay800";
    src: url(../assets/fonts/PlayfairDisplay-Medium.ttf);
}
@font-face {
    font-family: "montserrat_med";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "montserrat_reg";
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --bg-sirpi: #f5efee;
    --bg-brown: #785546;
}
.bg_brown {
    background-color: var(--bg-brown);
}
.bg_sirpi {
    background-color: var(--bg-sirpi);
}
.i_h1 {
    font-family: "PlayfairDisplay900";
    font-size: 55px;
    font-weight: 400;
    line-height: 110px;
    letter-spacing: 0em;
}
.i_h2 {
    font-family: "PlayfairDisplay800";
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;
    letter-spacing: 0em;
}
.i_h3 {
    font-family: "PlayfairDisplay800";
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
}
.i_p {
    font-family: "montserrat_med";
    font-weight: 100;
    line-height: 22px;
}
.i_p_bold {
    font-family: "montserrat_reg";
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
}

.boxShadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
